<form ng-submit="companyCtrl.addCouponForACompany()">
	<br> <br>
	Company Id :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.companyId"></input><br><br> 
	Title :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.coupon.title"></input><br><br>
	Start date :   <input type = "date"   ng-model="companyCtrl.couponsCreationData.coupon.startDate"></input><br><br>
	End Date :   <input type = "date"   ng-model="companyCtrl.couponsCreationData.coupon.endDate"></input><br><br>
	Amount :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.coupon.amount"></input><br><br>
	Type :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.coupon.type"></input><br><br>
	Message :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.coupon.message"></input><br><br>
	Price :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.coupon.price"></input><br><br>
	Image :   <input type = "text"   ng-model="companyCtrl.couponsCreationData.coupon.image"></input><br><br>
	
	 <br>
	
	<input type="submit" value = "Add coupon"/>
</form>